<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FoodExpress</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

</head>

<body>

<div class="wrapper">

    <header>
        <th:block th:replace="fragments/header.html"></th:block>
    </header>

    <div class="info">

        <div>
            <h1>About FoodExpress</h1>
            <p>
                Welcome to FoodExpress! We're passionate about food and believe everyone deserves fresh, healthy, and
                affordable meals. Our menu offers a wide range of options to suit all tastes and dietary requirements.
                We prioritize using high-quality, sustainable ingredients and making healthy eating accessible to
                everyone. Thank you for choosing FoodExpress – let's enjoy delicious food together!
            </p>
        </div>
        <div></div>

    </div>

</div>

</body>

</html>

